<div class="navigation-admin" id="navigation-admin">
  <ul>
    <div class="upper_items">
      <li class="list active admin-list">
        <a href="#"
          ><span class="icon">
            <i class="sidebar-icon bi bi-sliders"></i>
          </span>
          <div class="list_element">App Konfiguration</div>
        </a>
      </li>
      <li class="list">
        <a href="#"
          ><span class="icon">
            <i class="bi bi-plug-fill"></i>
          </span>
          <div class="list_element">Sockets</div>
        </a>
      </li>
      <li class="list">
        <a href="#"
          ><span class="icon">
            <i class="bi bi-list-task"></i>
          </span>
          <div class="list_element">Task</div>
        </a>
      </li>
      <li class="list">
        <a href="#"
          ><span class="icon">
            <i class="bi bi-file-text-fill"></i>
          </span>
          <div class="list_element">Logs</div>
        </a>
      </li>
    </div>
  </ul>
</div>
