{% extends "layouts/web_app_layouts/Template_app_v001_web_app_base.html" %} {%
block main_content %}
<!-- Dein spezifischer App-Content -->
{% if content == 'dashboard' %} {% include
'content/Template_app_v001_dashboard.html' %} {% elif content == 'page_01' %} {%
include 'content/Template_app_v001_page_01.html' %} {% elif content == 'page_02'
%} {% include 'content/Template_app_v001_page_02.html' %} {% elif content ==
'page_03' %} {% include 'content/Template_app_v001_page_03.html' %} {% elif
content == 'app_settings' %} {% include
'admin/Template_app_v001_app_settings.html' %} {% else %} {% include
'content/Template_app_v001_dashboard.html' %} {% endif %} {% endblock %}
