<!-- Hier sind die customs URL-Definitionen -->
<script>
  const APP_URLS = {
    index: "{{ url_for('ToDo_Ultimate.ToDo_Ultimate_index') }}",
    app_settings: "{{ url_for('ToDo_Ultimate.app_settings') }}",

    {% for page in pages %}
    {{ page.id }}: "{{ url_for('ToDo_Ultimate.' + page.id) }}",
    {% endfor %}
  };

  // ========================================
  // API ToDoes
  // ========================================
  const URL_API_ADD_TODO = "{{ url_for('ToDo_Ultimate.api_add_todo') }}";
</script>
