<div class="navigation" id="navigation">
  <div class="sidbear_header">
    <button class="hamburger-menu" id="hamburgerMenu">
      <i class="bi bi-list"></i>
    </button>
    <div class="sidebar_title">NexusPlayer</div>
  </div>
  <ul>
    <div class="upper_items">
      <li class="list active">
        <a
          href="{{ url_for('NexusPlayer.dashboard') }}"
          class="nav-link"
          data-page="dashboard"
        >
          <span class="icon">
            <i class="sidebar-icon bi bi-house-door-fill"></i>
          </span>
          <div class="list_element">Dashboard</div>
        </a>
      </li>
      <li class="list">
        <a
          href="{{ url_for('NexusPlayer.files') }}"
          class="nav-link"
          data-page="files"
          onclick="initFileBrowser();"
        >
          <span class="icon">
            <i class="sidebar-icon bi bi-folder-fill"></i>
          </span>
          <div class="list_element">Datei</div>
        </a>
      </li>
      <li class="list">
        <a
          href="{{ url_for('NexusPlayer.playlists') }}"
          class="nav-link"
          data-page="playlists"
        >
          <span class="icon">
            <i class="sidebar-icon bi bi-collection-play-fill"></i>
          </span>
          <div class="list_element">Playlists</div>
        </a>
      </li>
      <li class="list">
        <a
          href="{{ url_for('NexusPlayer.devices') }}"
          class="nav-link"
          data-page="devices"
        >
          <span class="icon">
            <i class="sidebar-icon bi bi-display-fill"></i>
          </span>
          <div class="list_element">Geräte</div>
        </a>
      </li>
    </div>
    <div class="lower_items">
      <li class="list">
        <a href="{{ url_for('myapp.home') }}">
          <span class="icon">
            <i class="sidebar-icon bi bi-grid-3x3-gap-fill"></i>
          </span>
          <div class="list_element">Zurück zu Apps</div>
        </a>
      </li>

      {% if current_user|has_admin_rights %}
      <li class="list">
        <a
          href="{{ url_for('NexusPlayer.app_settings') }}"
          class="nav-link"
          data-page="app_settings"
        >
          <span class="icon">
            <i class="sidebar-icon bi bi-gear-fill"></i>
          </span>
          <div class="list_element">Admin</div>
        </a>
      </li>
      {% endif %}
    </div>
  </ul>
</div>
