<!-- Diese Datei wird in die _base/layouts/web_app_layouts/Template_app_v002_sidebar_vertical.html eingebunden -->
<!-- Hier können die zusätzliche Admin-Elemente hinzugefügt werden -->

<li class="list">
  <a
    href="{{ url_for('Template_app_v002.admin_custom_setting_01') }}"
    class="nav-link-admin"
    data-page="admin_custom_setting_01"
  >
    <span class="icon">
      <i class="bi bi-cloud-snow-fill"></i>
    </span>
    <div class="list_element">Custom Einstellung 01</div>
  </a>
</li>
