<div class="playlist-container">
  <div class="selection-playlist selection-wrapper">
    <div class="selection-playlist-header selection-header">
      <h4>Playlists</h4>
    </div>
    <div class="selection-playlist-elements">
      {% for playlist in all_playlists_json %}
      <div class="selection-playlist-element">
        <div class="selection-playlist-element-name">
          {{ playlist['name'] }}
        </div>
        <div class="playlist-count">
          {{ playlist['data']['count_elements'] }} Inhalte
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="selection-content selection-wrapper">
    <div class="selection-content-header selection-header">
      <h4>Inhalte</h4>
    </div>
    <div class="selection-content-elements">
      <p>Playlist Inhalte</p>
    </div>
  </div>
  <div class="selection-browser selection-wrapper">
    <h4>Datei Browser</h4>
    <div class="selection-browser-elements">
      <p>Eine datei</p>
      <p>Eine zweite datei</p>
    </div>
  </div>
</div>
