<!-- Hier sind die customs URL-Definitionen -->
<script>
  const APP_URLS = {
    index: "{{ url_for('Printly.Printly_index') }}",
    app_settings: "{{ url_for('Printly.app_settings') }}",

    // Drucker
    api_printers: "{{ url_for('Printly.api_create_printer') }}",
    api_printer_update: "{{ url_for('Printly.api_update_printer', printer_id=0) }}",
    api_printer_archive: "{{ url_for('Printly.api_archive_printer', printer_id=0) }}",

    // Filamente
    api_filaments: "{{ url_for('Printly.api_create_filament') }}",
    api_filament_update: "{{ url_for('Printly.api_update_filament', filament_id=0) }}",
    api_filament_archive: "{{ url_for('Printly.api_archive_filament', filament_id=0) }}",

    // Strom Tarife
    api_energy_costs: "{{ url_for('Printly.api_create_energy_cost') }}",
    api_energy_cost_update: "{{ url_for('Printly.api_update_energy_cost', cost_id=0) }}",
    api_energy_cost_toggle: "{{ url_for('Printly.api_toggle_energy_cost', cost_id=0) }}",
    api_energy_cost_delete: "{{ url_for('Printly.api_delete_energy_cost', cost_id=0) }}",

    {% for page in pages %}
    {{ page.id }}: "{{ url_for('Printly.' + page.id) }}",
    {% endfor %}
  };
</script>
