<!-- Heir werden unabhängie CSS files integrert via templates\_base\layouts\web_app_layouts\Printly_css_integration.html  -->
<link
  rel="stylesheet"
  href="{{ url_for('Printly.static', filename='_custom/css/Printly_admin_socketio.css') }}"
/>

<link
  rel="stylesheet"
  href="{{ url_for('Printly.static', filename='_custom/css/Printly_printers.css') }}"
/>

<link
  rel="stylesheet"
  href="{{ url_for('Printly.static', filename='_custom/css/Printly_filaments.css') }}"
/>

<link
  rel="stylesheet"
  href="{{ url_for('Printly.static', filename='_custom/css/Printly_electricity_costs.css') }}"
/>

<link
  rel="stylesheet"
  href="{{ url_for('Printly.static', filename='_custom/css/Printly_working_hours.css') }}"
/>

<link
  rel="stylesheet"
  href="{{ url_for('Printly.static', filename='_custom/css/Printly_overhead_profiles.css') }}"
/>

<link
  rel="stylesheet"
  href="{{ url_for('Printly.static', filename='_custom/css/Printly_discounts_and_surcharges.css') }}"
/>

<link
  rel="stylesheet"
  href="{{ url_for('Printly.static', filename='_custom/css/Printly_dashboard.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('Printly.static', filename='_custom/css/Printly_customers.css') }}"
/>

<link
  rel="stylesheet"
  href="{{ url_for('Printly.static', filename='_custom/css/Printly_quotes.css') }}"
/>
