{% extends "layouts/web_app_layouts/web_app_base.html" %} {% block app_styles %}
<link
  rel="stylesheet"
  href="{{ url_for('cli.static', filename='css/cli.css') }}"
/>
{% endblock %} {% block content %}
<div class="cli-container">
  <div class="cli-wrapper">
    <div class="cli-header">
      <div class="cli-title"><h4>CLI Console</h4></div>
      <div class="cli-tools">
        <button id="clear-btn" onclick="clearConsole()">🗑️</button>
      </div>
    </div>
    <div class="cli-console-container">
      <div class="cli-connected">
        <p>Verbunden mit {{ config.app_name }}</p>
      </div>
      <p>Befehls Historie:</p>
      <div id="cli-history" class="cli-history"></div>
      <div class="cli-input">
        <span id="prompt">{{ config.app_name }} # </span>
        <input
          type="text"
          id="cli-input-field"
          placeholder=""
          autofocus
          onkeydown="handleKeyDown(event, '{{ url_for('cli.receive_command') }}', '{{ url_for('cli.check_output', command_id='0') }}')"
        />
      </div>
    </div>
  </div>
</div>
{% endblock %}
