:root {
    margin: 0;
    padding: 0;
}

.main-content {
    display: flex;
}

.navigation {
    background: blue;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.app-content {
    background: red;
    width: 100%;
}

.sidbear_header {
    display: flex;
    flex-direction: column;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    margin: 0;
    padding: 0;
}

.list {
    list-style: none;
    /* Entfernt Listenpunkte */
}

.list a {
    display: flex;
    flex-direction: row;
    /* Zentriert Icon und Text vertikal */
    padding: 10px;
    /* Besserer Abstand als margin-left */
    text-decoration: none;
}

.icon {
    margin-right: 10px;
    /* Abstand zwischen Icon und Text */
}